[Desktop Entry]
Type=Application
Version=0.3.0
Name=TreeTag
GenericName=Info Manager
Exec=treetag
Icon=${SNAP}/meta/gui/tree_icon_64.png
Terminal=false
Categories=Office;TextTools;
Comment=Organize data in a tree structure
